server:
  port: 8081

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: ${POSTGRES_PASSWORD}
    username: ${POSTGRES_USERNAME}
    url: ${POSTGRES_URL}
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: none
    show-sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      password: ${REDIS_PASSWORD}